html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #00373d;
	color: #00373d;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2 {
	color: #00373d;
}

.page-wrapper {
	width: 875px;
	margin: 15px auto;
	padding: 1.5rem;
	background: #FFF;
	border: 8px solid #ebdd3f;
}

.synth-pad {
	float: left;
	width: 500px;
	height: 500px;
	background: #1E1E1E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);
}

.synth-pad:hover {
	cursor: crosshair;
}

.info {
	margin-left: 500px;
	padding-left: 2rem;
	padding-top: 1rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}
